html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  margin:0px;
  background-color: #E3E2DF;
}

.header{
  background-color: #5d001e;
  border-bottom:groove black 1px
}

h1{
  margin-left:20px;
  color:white;
  text-decoration: none;
}

.parent {
  background-color: #E3E2DF;
  width: 320px;
  border-radius: 5px;
  margin:23px;
  padding:10px
}

.article-card {
  border-bottom: solid black 1px;
  padding:5px
}

.flex-div {
  display: flex;
  justify-content: space-between;
}

.de-emphasise {
  color: rgb(59, 59, 59);
  margin-top: 20px;
  margin-right: 10px
}

.article-img {
  margin: 10px 30px 10px 30px
}

.vote-button {
  transform: rotate(-90deg);
  width: 20px;
  height: 30px;
  font-size:30px;
  font-weight: 1000;
  text-align: center;
  padding:0px;
  background-color: #E3E2DF;
  border:none;
  transition:0.3s;
}

.vote-up:hover{
  color:red
}

.vote-down:hover{
  color:blue
}

.vote-count {
  margin: 0px;
  text-align: center;
  margin-left:9px
}

.body {
  margin-top: 10px;
}

.vertical-div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.center-div{
  display:flex;
  justify-content: center;
}

.page-switch-div{
  margin-top:20px;
  display:flex;
  justify-content: center;
}

.page-button{
  width: 30px;
  height: 30px;
  font-size:30px;
  font-weight: 1000;
  text-align: center;
  padding:0px;
  background-color: #E3E2DF;
  border:none;
  margin:6px
}

.comment-icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  margin-top: 20px;
  border-radius: 25%;
}

.comment-count {
  margin-top: 20px;
  margin-left: 20px
}

.comment-div {
  width: 100%;
  display: flex;
  justify-content: right;
}

#comment-input {
  margin: 10px;
  height: 50px;
  width: 300px
}

#feedback {
  margin: 0
}

.wrap-div{
  display:flex;
  flex-wrap:wrap;
}

.delete-comment {
  margin-top:19px;
  border-radius: 50%;
  background-image: radial-gradient(rgb(255, 84, 84),#3b0000);
  color: white;
  font-weight: 1000;
  border: solid black 1px;
  height: 23px;
  width: 23px
}

.delete-comment:active {
  background-color: #c50000;
}

.usr-msg{
  margin-left:10px
}

#profile-pic{
  width:150px;
  height:150px;
  border-radius: 50%;
  border:solid 1px black;
  box-shadow: 4px 4px 8px 2px black;
  margin-right:30px
}

h2{
  margin-top:60px
}

#title-button{
  background-color: #5d001e;
  border:none;
  width:200px;
  text-align: center;
  padding-right:20px;
  transition:0.3s;
}

#title-button:hover{
  background-color: #7a0027;
  transition:0.3s;
}

.log-in-button{
  height:30px;
  margin-top:18px;
  margin-right:20px;
  color:white;
  text-decoration: none;
  border-radius: 5px;
  background-color: #5d001e;
  border:none;
  transition:0.3s;
}

#subheader{
  border-bottom:black solid 1px;
  display:flex;
  justify-content: space-around;
  width:400px;
  height:60px;
}

.sub-header-button{
  margin:15px;
  font-size: 20px;
  height:30px;
  background-color: #E3E2DF;
  border:none;
  border-radius: 10px;
  transition:0.3s;
}

.sub-header-button:hover{
  background-color: #c2c2c2;
  transition:0.3s;
}

.article-header-button{
  background-color: #E3E2DF;
  border:none;
  text-align: left;
  font-size: 18px;
  border-radius:15px;
}

.article-header-button:hover{
  text-decoration: underline;
}

.article-header-button h4{
  margin:0px
}

#default-profile, #logout{
  height:40px;
  width:40px;
  border-radius:50%;
  transition:0.3s
}

#default-profile:hover, #logout:hover{
  opacity:50%;
  transition:0.3s
}

.user-button{
  background-color: #E3E2DF;
  border:none;
  font-size: 16px;
  height:50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.user-button:hover{
  text-decoration: underline;
}

.user-button p{
  margin-top:19px
}

.link-button{
  margin-top:10px;
  background-color: #e3e2df;
  border:none;
}

.link-button:hover{
  text-decoration: underline;
}

.profile-toggle{
  background-color: #E3E2DF;
  border:none;
  font-size:20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height:40px;
  transition:0.3s;
  border-radius: 20px;
}

.profile-toggle h3{
  margin:5px
}

.profile-toggle:disabled{
  color:black;
  background-color: #c2c2c2;
  transition:0.3s
}

@media screen and (min-width:600px){
  #home-parent {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px auto;
  }

  #profile-master {
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
  }

  #home-topics{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end:3;
    width: 500px;
  }

  #home-articles{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 2;
    grid-row-end:3;
    width: 500px
  }

  #home-welcome{
    grid-column-start: 1;
    grid-column-end:3;
  }

  .article-header-button{
    font-size:24px
  }

  h2{
    font-size:30px;
  }
  h3{
    font-size:27px;
  }

  #profile-pic{
    height:250px;
    width:250px;
    margin:40px
  }

  #username{
    text-align:center;
    width:330px
  }

  #profile-parent{
    width:400px
  }

  #article-cards-master{
    width:500px
  }

  #comment-master{
    width:500px
  }

  #comment-input-form{
    width:500px
  }

  #comment-input{
    width:470px;
    height:80px
  }
}

@media screen and (min-width:900px){
  #profile-pic{
    height:350px;
    width:350px;
    margin-left:125px
  }

  #profile-parent{
    width:500px
  }

  #profile-pic-holder{
    width:600px;
  }

  #username{
    text-align:center;
    width:600px
  }

  #article-cards-master{
    width:700px
  }

  #comment-master{
    width:700px
  }

  #comment-input-form{
    width:700px
  }

  #comment-input{
    width:670px;
    height:80px
  }

  .preview-img{
    width:100px;
    height:80px
  }
}

@media screen and (min-width: 1200px){

  #home-articles{
    width: 700px
  }

  .preview-img{
    width:150px;
    height:120px
  }
}

@media (max-width:900px){
  .preview-img{
    display:none
  }
}