html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parent{
    background-color: rgb(165, 165, 165);
    width:400px;
    border-radius:5px;
    border:solid grey 1px;
    margin:10px
}

.article-card{
    border-bottom: solid black 1px;
}

.flex-div{
    display:flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px
}

.de-emphasise{
    color: rgb(59, 59, 59);
    margin-top: 20px;
    margin-right:10px
}

.article-img{
    margin:10px 30px 10px 30px
}

.vote-button-up{
    transform: rotate(-90deg);
    width:20px;
    height:20px;
}

.vote-button-down{
    transform: rotate(-90deg);
    width:20px;
    height:20px;
}

.vote-count{
    margin:0px
}

.body{
    margin-top:10px;
}

.vertical-div{
    display:flex;
    flex-direction: column;
    margin:10px;
}

.comment-icon{
    width:20px;
    height:20px;
    opacity: 0.5;
    margin-top:20px;
}

.comment-count{
    margin-top:20px;
    margin-left:20px
}

.comment-div{
    width:100%;
    display:flex;
    justify-content: right;
}

#comment-input{
    margin:10px;
    height:50px;
    width:300px
}